<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{header}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100" layout:fragment="body">
     <header class=" py-6 pl-5 pr-5 lg:py-12 bg-white uppercase rounded-lg shadow-lg">
        <div class="">

            <div>
                <div class=" ">
                    <table class="table-fixed  min-w-full text-white border rounded-lg shadow-sm">
                        <thead>
                          <tr class="border-b-2 border-gray-100">
                            <th class=" bg-gray-100 px-3 py-3.5 text-black">#</th>
                            <th class=" bg-gray-100 px-3 py-3.5 text-black">Branch</th>
                            <th class=" bg-gray-100 px-3 py-3.5 text-black">Balance</th>
                            <th class=" bg-gray-100 px-3 py-3.5 text-black">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="border-b-2 border-gray-100" th:each="account:${accounts}">
                            <td class=" text-center  px-3 py-4 text-black" th:text="${account.id}"></td>
                            <td class=" text-center px-3 py-4 text-black" th:text="${account.branch}" ></td>
                            <td class=" text-center px-3 py-4 text-black" th:text="${account.balance}"></td>
                            <td class=" px-3 py-4 flex items-center justify-between">
                                <form th:action="@{'/accounts/update/' + ${account.id}}" method="get">
                                <a>
                                    <button type='submit'  class="bg-blue-600 capitalize rounded-md px-2 py-1 hover:bg-blue-700">
                                    <i class="fa-regular fa-pen-to-square fa-xs" style="color: #ffffff;"></i>
                                    Update
                                    </button>
                                </a>
                           </form>
                              <form th:action="@{'/accounts/delete/' + ${account.id}}" method='post'>
                                    <input type="hidden" name='' value=''>
                                    <input type="hidden" name='' value=''>
                                    <button type='submit'  class="bg-red-600 capitalize rounded-md px-2 py-1 hover:bg-red-700" onclick="return confirm('Are you sure you want to delete this account?')">
                                    <i class="fa-solid fa-trash fa-xs" style="color: #ffffff;" ></i>
                                    Delete
                                    </button>
                              </form>
                            </td>
                          </tr>  

                          
                        </tbody>
                    </table>





                </div>
            </div>
        </div>




        
</body>