<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Withdrawal</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen bg-gray-100 p-0 sm:p-12">
<div class="mx-auto max-w-md px-6 py-12 bg-white border-0 shadow-lg sm:rounded-3xl">
    <h1 class="text-2xl font-bold mb-8">Create Withdrawal</h1>

    <form th:action="@{/withdrawals/add}" th:object="${withdrawal}" method="post">
        <!-- Customer Selection -->
        <div class="relative z-0 w-full mb-5">
            <label for="customer" class="font-semibold">Customer:</label>
            <select th:field="*{customer.id}"id="customer" name="customerId" class="mt-1 block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
            </select>
        </div>

        <!-- Account Selection -->
        <div class="relative z-0 w-full mb-5">
            <label for="account" class="font-semibold">Account:</label>
            <select th:field="*{account.id}" id="account" name="accountId" class="mt-1 block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.branch}"></option>
            </select>
        </div>

        <!-- Amount Input -->
        <div class="relative z-0 w-full mb-5">
            <label for="amount" class="font-semibold">Amount:</label>
            <input th:field = "*{amount}" type="number" id="amount" name="amount" step="0.01" min="0" class="mt-1 block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
            <div th:if="${errorMessage}" class="text-danger">
                <p style="color: red" th:text="${errorMessage}"></p>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="flex justify-between">
            <button type="submit" class="w-1/2 px-6 py-3 mt-3 mr-2 text-lg text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-blue-500 hover:bg-blue-600 hover:shadow-lg focus:outline-none">Create</button>
            <a href="#" class="w-1/2 px-6 py-3 mt-3 text-lg text-center text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-gray-500 hover:bg-gray-600 hover:shadow-lg focus:outline-none">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>
