<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
     <!-- Header Section -->
     <header class=" py-6 pl-5 pr-5 lg:py-12 bg-white uppercase rounded-lg shadow-lg">
        <div class="">

            <div>
                <div class=" ">

              

                    <table class="table-fixed  min-w-full text-white border rounded-lg shadow-sm">
                        <thead>
                          <tr class="border-b-2 border-gray-100">
                            <th class=" bg-gray-100 px-3 py-3.5 text-black">#</th>
                            <th class=" bg-gray-100 px-3 py-3.5 text-black"> Branch</th>
                            <th class=" bg-gray-100 px-3 py-3.5 text-black">Balance</th>
                            <th class=" bg-gray-100 px-3 py-3.5 text-black">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="border-b-2 border-gray-100">
                            <td class=" text-center  px-3 py-4 text-black">1</td>
                            <td class=" text-center px-3 py-4 text-black">branch test</td>
                            <td class=" text-center px-3 py-4 text-black">balance test</td>
                           
                            <td class=" px-3 py-4 flex items-center justify-between">
                                <a href="update-account.html">
                                    <button type='submit'  class="bg-blue-600 capitalize rounded-md px-2 py-1 hover:bg-blue-700">
                                    <i class="fa-regular fa-pen-to-square fa-xs" style="color: #ffffff;"></i>
                                    Update
                                    </button>
                                </a>
                              <form action="" method='get'>
                                    <input type="hidden" name='' value=''>
                                    <input type="hidden" name='' value=''>
                                    <button type='submit'  class="bg-red-600 capitalize rounded-md px-2 py-1 hover:bg-red-700">
                                    <i class="fa-solid fa-trash fa-xs" style="color: #ffffff;"></i>
                                    Delete
                                    </button>
                              </form>
                            </td>
                          </tr>  
                          <tr class="border-b-2 border-gray-100">
                            <td class=" text-center  px-3 py-4 text-black">1</td>
                            <td class=" text-center px-3 py-4 text-black">branch test</td>
                            <td class=" text-center px-3 py-4 text-black">balance test</td>
                           
                            <td class=" px-3 py-4 flex items-center justify-between">
                              <a href="update-account.html">
                                    <button type='submit'  class="bg-blue-600 capitalize rounded-md px-2 py-1 hover:bg-blue-700">
                                    <i class="fa-regular fa-pen-to-square fa-xs" style="color: #ffffff;"></i>
                                    Update
                                    </button>
                                </a>
                              <form action="" method='get'>
                                <input type="hidden" name='' value=''>
                                <input type="hidden" name='' value=''>
                                <button type='submit'  class="bg-red-600 capitalize rounded-md px-2 py-1 hover:bg-red-700">
                                  <i class="fa-solid fa-trash fa-xs" style="color: #ffffff;"></i>
                                  Delete
                                </button>
                              </form>
                            </td>
                          </tr> 
                          <tr class="border-b-2 border-gray-100">
                            <td class=" text-center  px-3 py-4 text-black">1</td>
                            <td class=" text-center px-3 py-4 text-black">branch test</td>
                            <td class=" text-center px-3 py-4 text-black">balance test</td>
                           
                            <td class=" px-3 py-4 flex items-center justify-between">
                              <a href="update-account.html">
                                    <button type='submit'  class="bg-blue-600 capitalize rounded-md px-2 py-1 hover:bg-blue-700">
                                    <i class="fa-regular fa-pen-to-square fa-xs" style="color: #ffffff;"></i>
                                    Update
                                    </button>
                                </a>
                              <form action="" method='get'>
                                <input type="hidden" name='' value=''>
                                <input type="hidden" name='' value=''>
                                <button type='submit'  class="bg-red-600 capitalize rounded-md px-2 py-1 hover:bg-red-700">
                                  <i class="fa-solid fa-trash fa-xs" style="color: #ffffff;"></i>
                                  Delete
                                </button>
                              </form>
                            </td>
                          </tr> 
                          <tr class="border-b-2 border-gray-100">
                            <td class=" text-center  px-3 py-4 text-black">1</td>
                            <td class=" text-center px-3 py-4 text-black">branch test</td>
                            <td class=" text-center px-3 py-4 text-black">balance test</td>
                           
                            <td class=" px-3 py-4 flex items-center justify-between">
                              <a href="update-account.html">
                                    <button type='submit'  class="bg-blue-600 capitalize rounded-md px-2 py-1 hover:bg-blue-700">
                                    <i class="fa-regular fa-pen-to-square fa-xs" style="color: #ffffff;"></i>
                                    Update
                                    </button>
                                </a>
                              <form action="" method='get'>
                                <input type="hidden" name='' value=''>
                                <input type="hidden" name='' value=''>
                                <button type='submit'  class="bg-red-600 capitalize rounded-md px-2 py-1 hover:bg-red-700">
                                  <i class="fa-solid fa-trash fa-xs" style="color: #ffffff;"></i>
                                  Delete
                                </button>
                              </form>
                            </td>
                          </tr> 
                          <tr class="border-b-2 border-gray-100">
                            <td class=" text-center  px-3 py-4 text-black">1</td>
                            <td class=" text-center px-3 py-4 text-black">branch test</td>
                            <td class=" text-center px-3 py-4 text-black">balance test</td>
                           
                            <td class=" px-3 py-4 flex items-center justify-between">
                              <a href="update-account.html">
                                    <button type='submit'  class="bg-blue-600 capitalize rounded-md px-2 py-1 hover:bg-blue-700">
                                    <i class="fa-regular fa-pen-to-square fa-xs" style="color: #ffffff;"></i>
                                    Update
                                    </button>
                                </a>
                              <form action="" method='get'>
                                <input type="hidden" name='' value=''>
                                <input type="hidden" name='' value=''>
                                <button type='submit'  class="bg-red-600 capitalize rounded-md px-2 py-1 hover:bg-red-700">
                                  <i class="fa-solid fa-trash fa-xs" style="color: #ffffff;"></i>
                                  Delete
                                </button>
                              </form>
                            </td>
                          </tr> 
                          <tr class="border-b-2 border-gray-100">
                            <td class=" text-center  px-3 py-4 text-black">1</td>
                            <td class=" text-center px-3 py-4 text-black">branch test</td>
                            <td class=" text-center px-3 py-4 text-black">balance test</td>
                           
                            <td class=" px-3 py-4 flex items-center justify-between">
                              <a href="update-account.html">
                                    <button type='submit'  class="bg-blue-600 capitalize rounded-md px-2 py-1 hover:bg-blue-700">
                                    <i class="fa-regular fa-pen-to-square fa-xs" style="color: #ffffff;"></i>
                                    Update
                                    </button>
                                </a>
                              <form action="" method='get'>
                                <input type="hidden" name='' value=''>
                                <input type="hidden" name='' value=''>
                                <button type='submit'  class="bg-red-600 capitalize rounded-md px-2 py-1 hover:bg-red-700">
                                  <i class="fa-solid fa-trash fa-xs" style="color: #ffffff;"></i>
                                  Delete
                                </button>
                              </form>
                            </td>
                          </tr> 
                          <tr class="border-b-2 border-gray-100">
                            <td class=" text-center  px-3 py-4 text-black">1</td>
                            <td class=" text-center px-3 py-4 text-black">branch test</td>
                            <td class=" text-center px-3 py-4 text-black">balance test</td>
                           
                            <td class=" px-3 py-4 flex items-center justify-between">
                              <a href="update-account.html">
                                    <button type='submit'  class="bg-blue-600 capitalize rounded-md px-2 py-1 hover:bg-blue-700">
                                    <i class="fa-regular fa-pen-to-square fa-xs" style="color: #ffffff;"></i>
                                    Update
                                    </button>
                                </a>
                              <form action="" method='get'>
                                <input type="hidden" name='' value=''>
                                <input type="hidden" name='' value=''>
                                <button type='submit'  class="bg-red-600 capitalize rounded-md px-2 py-1 hover:bg-red-700">
                                  <i class="fa-solid fa-trash fa-xs" style="color: #ffffff;"></i>
                                  Delete
                                </button>
                              </form>
                            </td>
                          </tr> 
                          <tr class="border-b-2 border-gray-100">
                            <td class=" text-center  px-3 py-4 text-black">1</td>
                            <td class=" text-center px-3 py-4 text-black">branch test</td>
                            <td class=" text-center px-3 py-4 text-black">balance test</td>
                           
                            <td class=" px-3 py-4 flex items-center justify-between">
                              <a href="update-account.html">
                                    <button type='submit'  class="bg-blue-600 capitalize rounded-md px-2 py-1 hover:bg-blue-700">
                                    <i class="fa-regular fa-pen-to-square fa-xs" style="color: #ffffff;"></i>
                                    Update
                                    </button>
                                </a>
                              <form action="" method='get'>
                                <input type="hidden" name='' value=''>
                                <input type="hidden" name='' value=''>
                                <button type='submit'  class="bg-red-600 capitalize rounded-md px-2 py-1 hover:bg-red-700">
                                  <i class="fa-solid fa-trash fa-xs" style="color: #ffffff;"></i>
                                  Delete
                                </button>
                              </form>
                            </td>
                          </tr> 
                          <tr class="border-b-2 border-gray-100">
                            <td class=" text-center  px-3 py-4 text-black">1</td>
                            <td class=" text-center px-3 py-4 text-black">branch test</td>
                            <td class=" text-center px-3 py-4 text-black">balance test</td>
                           
                            <td class=" px-3 py-4 flex items-center justify-between">
                              <a href="update-account.html">
                                    <button type='submit'  class="bg-blue-600 capitalize rounded-md px-2 py-1 hover:bg-blue-700">
                                    <i class="fa-regular fa-pen-to-square fa-xs" style="color: #ffffff;"></i>
                                    Update
                                    </button>
                                </a>
                              <form action="" method='get'>
                                <input type="hidden" name='' value=''>
                                <input type="hidden" name='' value=''>
                                <button type='submit'  class="bg-red-600 capitalize rounded-md px-2 py-1 hover:bg-red-700">
                                  <i class="fa-solid fa-trash fa-xs" style="color: #ffffff;"></i>
                                  Delete
                                </button>
                              </form>
                            </td>
                          </tr> 

                          

                        
                          
                          
                        
                         
                          
                        </tbody>
                    </table>





                </div>
            </div>
        </div>




        
</body>